# Working directories
drafts/

# Python
__pycache__/
*.pyc
.pytest_cache/

# Virtual environments
venv/
env/
.venv/

# Logs
logs/
*.log

# OS
.DS_Store

# Database
db.json
db.sqlite3

# Environment variables
.env

# IDE
.vscode/
.idea/